body{
background-color:rgb(210, 255, 9)
;
}
h1{
    color: ;
    font-family:sans-serif,;
    background:rgb(rgba(30, 230, 113, 0.877)), ;
    }
    p{
    color:#78be50 ;
    font-family: ;
    font-size: ;
    background: rgb(rgba(182, 228, 58, 0.781));
    }
    
    #cosmeticos{
        width: 100%;
    }
      

    