body{
background-color:rgb(rgba(22, 20, 22, 0.781))
}
h1{
    color: ;
    font-family:sans-serif,;
    background:rgb(rgba(30, 230, 113, 0.877)), ;
    }
    p{
    color:#BC8F8F ;
    font-family: ;
    font-size: ;
    background: rgb(rgba(14, 0, 11, 0.781));
    }
    
    #cosmeticos{
        width: 100%;
    }
      

    