body{
background-color:rgb(rgba(255, 0, 212, 0.103))
}
h1{
    color: ;
    font-family:sans-serif,;
    background:black, ;
    }
    p{
    color:#BC8F8F ;
    font-family: ;
    font-size: ;
    background: ;
    }